<main>
        <div data-name="component">
            <nav class="flex justify-between bb b--white-10">
                <div class="flex-grow pa3 flex items-center">
                <a class="f4 link dib white dim mr3 mr4-ns" routerLink="/home" routerLinkActive="active">Home</a>
                <a class="f4 link dib white dim mr3 mr4-ns" routerLink="/login" routerLinkActive="active">Sign In</a>
                <a class="f4 dib white bg-animate hover-bg-white hover-black no-underline pv2 ph4 br-pill ba b--white-20" 
                                                                        routerLink="/register" routerLinkActive="active">Register</a>
                </div>
            </nav>
        </div>
</main>
<router-outlet></router-outlet>